:root {
  --bg-dark: #E8E1EF;
  --bg-color: #454545;
  --light: #fff;
  --dark: #2E294E;
  --cyan: #39E6E6;
  --yellow: #FFFF26;
  --magenta: #E622E6;
}

/* {
  border: 1px solid red;
} */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90px;
  background: var(--bg-dark);
  color: var(--light);
}

a {
  text-decoration: none;
}

body main {
  margin: 0 5vw;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border-radius: 38px;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 2);
}

.greet {
  font-size: 120px;
  margin-bottom: 4.5rem;
}

.hero {
  display: flex;
  align-items: baseline;
  margin-bottom: 7rem;
}

.loop-color1 {
  --loopColor: var(--yellow);
}

.loop-color2 {
  --loopColor: var(--magenta);
}

.loop-color3 {
  --loopColor: var(--cyan);
}

.title-color {
  color: var(--loopColor);
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  width: 50px;
  height: 50px;
  mask-size: cover;
}


.icon:hover,
.icon:focus {
  fill: var(--loopColor);
  transition: 0.6s;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  border-radius: 10%;
  margin-left: auto;
}

#shape {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid var(--loopColor);
  transition: 0.6s;
}

#typed {
  margin-left: 1.5rem;
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid var(--light);
  white-space: nowrap;
  width: 0;
}

.in {
  animation:
    typing 1.5s steps(22, end) forwards,
    blinking .75s infinite;
}

.out {
  animation:
    backspace 1.5s steps(22, end) forwards,
    blinking .75s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 550px }
}
@keyframes backspace {
  from { width: 550px }
  to { width: 0 }
}
@keyframes blinking {
  from { border-color: transparent; }
  to { border-color: var(--light); }
}