#color-pallet {
    background-color: #011638;
    color: #B0A3FF;
    color: #2E294E;
    color: #39E6E6;
    color: #FFFF26;
    color: #E622E6;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 90px;
}

body {
    background: #011638;
    color: #B0A3FF;
}

body main {
    margin: 80px 80px 50vh;
    display: flex;
    flex-direction: column;
}

.greet {
    font-size: 120px;
    margin-bottom: 4rem;
}

.hero span {
    color: #FFFF26;
}

.circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #FFFF26;
}

.c2 {
    display: flex;
    align-items: baseline;
}

#typed {
    margin-left: 2.5rem;
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
}

.in {
    animation: 
      typing 1.5s steps(18, end) forwards,
      blinking .75s infinite;
}

.out {
    animation: 
      backspace 1.5s steps(18, end) forwards,
      blinking .75s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 500px }
}
@keyframes backspace {
  from { width: 500px }
  to { width: 0 }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}